@import '../vendor/normalize.css';
@import '../blocks/page/page.css';
@import '../blocks/header/header.css';
@import '../blocks/header/__img/header__img.css';
@import '../blocks/header/__languages/header__languages.css';
@import '../blocks/header/__lang/header__lang.css';
@import '../blocks/header/__lang/_underline/header__lang_underline.css';
@import '../blocks/lead/lead.css';
@import '../blocks/lead/__title/lead__title.css';
@import '../blocks/lead/__subtitle/lead__subtitle.css';
@import '../blocks/lead/__img/lead__img.css';
@import '../blocks/lead/__img-descr/lead__img-descr.css';
@import '../blocks/intro/intro.css';
@import '../blocks/intro/__title/intro__title.css';
@import '../blocks/intro/__text/intro__text.css';
@import '../blocks/intro/__list/intro__list.css';
@import '../blocks/intro/__list-item/intro__list-item.css';
@import '../blocks/intro/__span/intro__span.css';
@import '../blocks/photo-grid/photo-grid.css';
@import '../blocks/photo-grid/__item/photo-grid__item.css';
@import '../blocks/places/places.css';
@import '../blocks/places/__place/places__place.css';
@import '../blocks/places/__title/places__title.css';
@import '../blocks/places/__website/places__website.css';
@import '../blocks/places/__url-heading/places__url-heading.css';
@import '../blocks/places/__link/places__link.css';
@import '../blocks/places/__image/places__image.css';
@import '../blocks/places/__text/places__text.css';
@import '../blocks/places/__paragraph/places__paragraph.css';
@import '../blocks/cover/cover.css';
@import '../blocks/cover/__image/cover__image.css';
@import '../blocks/cover/__link/cover__link.css';
@import '../blocks/cover/__title/cover__title.css';
@import '../blocks/cover/__subtitle/cover__subtitle.css';
@import '../blocks/footer/footer.css';
@import '../blocks/footer/__links/footer__links.css';
@import '../blocks/footer/__link/footer__link.css';
@import '../blocks/footer/__copyright/footer__copyright.css';

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Inter-Regular.woff2?v=3.19) format("woff2");
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/Inter-Bold.woff2?v=3.19) format("woff2");
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(../fonts/Inter-Black.woff2?v=3.19) format("woff2");
}

