.lead__img {
    margin: 64px 0 0;
    width: 100%;
}

@media (max-width: 1279px) {
    .lead__img {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .lead__img {
        width: 100%;
    }
}